.full-width-banner {
    width: 1800px;
    height: 30px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.banner {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-content {
    width: 100%;
}